.username img {
  height: 32px;
  width: 32px;
}

.item_list {
  margin-bottom: 10px;
}

.item_list .item_data {
  height: 235px;
  background: #eee;
  padding: 2px;
}

.item_list .item_data .item_img {
  text-align: center;
  height: 162px;
  vertical-align: middle;
}

.item_list .item_data img.item_pic {
  max-width: 100%;
  max-height: 155px;
  min-height: 40px;
  min-width: 40px;
  vertical-align: middle;
}

.item_list .item_data img.user_pic {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.item_list .item_data h5 {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}